/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ededed;
}

li {
  list-style: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  color: #ededed;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 54px;
  color: #595959;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  color: #595959;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: #595959;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #ededed;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hide {
  transform: rotateX(90deg);
  transform-origin: top center;
  transition: 0.5s;
}

.hide_us {
  transform: rotateX(90deg);
  transform-origin: top center;
  transition: 0.5s;
}

.header {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/pexels-picjumbocom-210661 1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.header__top .logo {
  font-family: "Racing Sans One", cursive;
  letter-spacing: 2px;
}
.header__top .logo a {
  color: #c92164;
}
.header__top .logo:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.header__top__nav {
  display: flex;
  width: 420px;
  justify-content: space-between;
}
.header__top__nav .menu__item {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #ededed;
  font-weight: 500;
  position: relative;
}
.header__top__nav .menu__item__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background: #c92164;
  transform: translateX(-50%);
}
.header__top__nav .menu__item__link:hover {
  opacity: 0.6;
}
.header__top__nav .menu__item__link:hover::after {
  width: 100%;
  transition: 0.3s;
}
.header__top__nav .menu__item:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 20px;
  background: #c92164;
  right: -20px;
  top: 8px;
}
.header .text__banner {
  height: 85vh;
  width: 100%;
  font-size: 54px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .arrow {
  display: flex;
  justify-content: center;
}

.servicos {
  background: #e5e5e5;
  padding: 60px 0;
  height: 700px;
}
.servicos h2 {
  font-weight: 400;
  text-align: center;
  font-size: 44px;
  margin-bottom: 70px;
}
.servicos .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.servicos .services__item {
  display: flex;
  align-items: center;
  flex-basis: 32%;
}
.servicos .services__item figure {
  display: flex;
  align-items: center;
  width: 90px;
  height: 100px;
  margin-right: 15px;
}
.servicos .services__item figure img {
  object-fit: contain;
  height: 90px;
}
.servicos .services__item .content h4 {
  font-size: 26px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
}
.servicos .services__item .content p {
  color: #595959;
}
.servicos .services__item:nth-child(-n+3) {
  margin-bottom: 120px;
}

.aboutUs {
  padding: 60px;
}
.aboutUs h2 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.aboutUs p {
  color: #595959;
  margin-bottom: 40px;
  font-size: 24px;
}
.aboutUs .member {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.aboutUs .member__item {
  display: flex;
  align-items: center;
}
.aboutUs .member__item figure img {
  height: 250px;
  border-radius: 50%;
}
.aboutUs .member__item figure:first-child {
  margin-right: 30px;
}
.aboutUs .member__item figure:last-child {
  order: 3;
  margin-left: 40px;
}
.aboutUs .member__item__content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}
.aboutUs .member .middle {
  justify-content: flex-end;
}

.transition {
  position: relative;
}

.forms {
  width: 100vw;
  background: #dcdcdc;
  height: 400px;
  transition: 0.5s;
  position: absolute;
  top: -70px;
  margin-top: 70px;
}
.forms h2 {
  font-weight: 400;
  text-align: center;
}
.forms form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forms form input {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  background: transparent;
  border: transparent;
  border-bottom: 3px solid #696969;
  width: 400px;
  height: 50px;
}
.forms form textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  background: transparent;
  border: transparent;
  border-bottom: 3px solid #696969;
  width: 400px;
  height: 100px;
}
.forms__buttons {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.forms__buttons button {
  height: 44px;
  border-radius: 12px;
  border: none;
  background: #363636;
  color: #ededed;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.forms__buttons button:hover {
  border-bottom: 3px solid #c92164;
}
.forms__buttons .whats {
  width: 160px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms__buttons .send {
  width: 120px;
  margin-left: 25px;
}

.contact__us {
  width: 100vw;
  background: #dcdcdc;
  height: 400px;
}
.contact__us h2 {
  font-weight: 400;
  text-align: center;
  padding-top: 25px;
}
.contact__us__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 30% 0 30%;
}
.contact__us__content h4 {
  font-weight: 400;
  width: 300px;
}
.contact__us__content button {
  width: 210px;
  height: 44px;
  border-radius: 12px;
  border: none;
  background: #363636;
  color: #ededed;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.contact__us__content button:hover {
  border-bottom: 3px solid #c92164;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  background: #363636;
  padding: 0 7%;
}
.footer h2 {
  font-family: "Racing Sans One", cursive;
  letter-spacing: 2px;
}
.footer h2 a {
  color: #c92164;
}
.footer #codes {
  font-family: "Open Sans", sans-serif;
  color: #d5d5d5;
  font-weight: 500;
  font-size: 24px;
}
.footer #copy {
  font-family: "Open Sans", sans-serif;
  color: #d5d5d5;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.footer #copy img {
  margin-right: 3px;
  margin-top: 2px;
}

/*# sourceMappingURL=style.css.map */
