//Footer Styles
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  background: $bg-footer;
  padding: 0 7%;

  h2 {
    font-family: "Racing Sans One", cursive;
    letter-spacing: 2px;
    a {
      color: $color-footer-link;
    }
  }
  #codes {
    font-family: "Open Sans", sans-serif;
    color: $color-codes-copy;
    font-weight: 500;
    font-size: 24px;
  }
  #copy {
    font-family: "Open Sans", sans-serif;
    color: $color-codes-copy;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    img {
      margin-right: 3px;
      margin-top: 2px;
    }
  }
}
