//Forms Styles
.transition {
  position: relative;
}
.forms {
  width: 100vw;
  background: #dcdcdc;
  height: 400px;
  transition: 0.5s;
  position: absolute;
  top: -70px;
  margin-top: 70px;
  h2 {
    font-weight: 400;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      background: transparent;
      border: transparent;
      border-bottom: 3px solid #696969;
      width: 400px;
      height: 50px;
    }

    textarea {
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      background: transparent;
      border: transparent;
      border-bottom: 3px solid #696969;
      width: 400px;
      height: 100px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    button {
      height: 44px;
      border-radius: 12px;
      border: none;
      background: #363636;
      color: #ededed;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 18px;
    }
    button:hover {
      border-bottom: 3px solid #c92164;
    }
    .whats {
      width: 160px;
      margin-right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .send {
      width: 120px;
      margin-left: 25px;
    }
  }
}
