@import '../base/variables';
.services{
    background: $bg-section;
    .row{
        flex-grow: 1;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .title{
        font-family: $text-font;
        font-weight: 500;
        font-size: $title-size;
        padding-top: 50px;
        padding-bottom: 50px;
        color: $font-color;
        text-align: center;
    }
    &_box{
        width: 300px;
        display: flex;
        margin-right: 40px;
        margin-bottom: 30px;
        position: relative;
        .img-services{
            width: 70px;
            height: 70px    ;
        }
        &_content{
            h2{
                font-family: $text-font;
                font-weight: 400;
                font-size: 20px;
                color: $font-color;
                margin: 5px 0 0 15px;
            }
            p{
                font-family: $text-font;
                font-weight: 300;
                font-size: 14px;
                color: $font-color;
                margin: 5px 0 0 15px;
            }
        }
        &:nth-child(2)::before{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            left: -10%;
            background: #d1d1d1;
        }
        &:nth-child(3)::before{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            left: -10%;
            background: #d1d1d1;
        }
        &:nth-child(5)::before{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            left: -10%;
            background: #d1d1d1;
        }
        &:nth-child(6)::before{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            left: -10%;
            background: #d1d1d1;
        }
    }

}
@media (max-width: 1200px){
    .services_box{
        &:nth-child(2n+1)::after{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            right:-10%;
            background: #d1d1d1;
        }
        &:nth-child(2)::before{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            left: -10%;
            background: transparent;
        }
        &:nth-child(3)::before{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            left: -10%;
            background: transparent;
        }
        &:nth-child(5)::before{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            left: -10%;
            background: transparent;
        }
        &:nth-child(6)::before{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            left: -10%;
            background: transparent;
        }
    }
}
@media(max-width: 770px){
    .services_box{
        margin-bottom: 5    0px;
        &:nth-child(2n+1)::after{
            position: absolute;
            content: "";
            width: 2px;
            height: 75px;
            right:-10%;
            background: transparent;
        }
    }   
}