@media(max-width: 900px){
    .header__top__nav{
        display: none;
    }
    .toggle{
        position: relative;
        width: 15px;
        height: 3px;
        background: white;
        transition: .5s;
    }
    .toggle::before{
        position: absolute;
        content: "";
        width: 20px;
        height: 3px;
        top: 8px;
        background: white;
        transition: .5s;
    }
    .toggle::after{
        position: absolute;
        content: "";
        width: 20px;
        height: 3px;
        bottom: 8px;
        background: white;
        transition: .5s;
    }
    .menu-mobile{
        margin-right: 50px;
        position: absolute;
        right: 15px;
    }
    .active{
        .toggle{
            position: relative;
            width: 20px;
            height: 3px;
            background: rgb(255, 255, 255);
            transform: rotate(45deg);
            transition: .5s;
        }
        .toggle::before{
            position: absolute;
            content: "";
            width: 20px;
            height: 3px;
            top: 0;
            background: white;
            transform: rotate(90deg);
            transition: .5s;
        }
        .toggle::after{
            position: absolute;
            content: "";
            width: 20px;
            height: 3px;
            bottom: 0;
            background: white;
            transform: rotate(90deg);
            transition: .5s;
        }
    }
    .text__banner{
        font-size: 28px;
    }
}

