@import '../base/_variables';


.footer{
    width: 100%;
    height: 165px;
    background: $bg-footer;
    padding-top: 30px;
    .row{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .logo{
        font-family: $logo-font;
        font-size: 54px;
        a{
            color: #C92164;
        }
    }
    .police{
        font-family: $text-font;
        color: white;
        font-weight: 400;
        font-size: 18px;
    }
    .copy_list{
        display: flex;
        align-items: center;
        width: 40px;
        justify-content: space-between;
        li{
            color: white;
            font-family: $text-font;
            font-size: 14px;
            padding: 3px;
        }
    }
}

@media (max-width: 900px){
    .row{
        flex-direction: column;
    }
    h1{
        margin-bottom: 10px;
    }
    .police{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .copy_list{
        display: flex;
        align-items: center;
        width: 40px;
        justify-content: space-between;
        margin-bottom: 10px;
        li{
            color: white;
            font-family: $text-font;
            font-size: 8px;
            padding: 3px;
        }
    }
}