// General Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #ededed;
}
li {
  list-style: none;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  color: #ededed;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 54px;
  color: #595959;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  color: #595959;
}
h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: #595959;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #ededed;
}
.hide {
  transform: rotateX(90deg);
  transform-origin: top center;
  transition: 0.5s;
}
.hide_us {
  transform: rotateX(90deg);
  transform-origin: top center;
  transition: 0.5s;
}
