@font-face {
    font-family: 'Racing sans' ;
    src: url(/fonts/RacingSans/RacingSansOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins' ;
    src: url(/fonts/Poppins/Poppins-Medium.otf) format('opentype');
}

