// Cores
$bg-header: linear-gradient(63.18deg, #0b1e26 0%, #1b323c 100%);

$text-header: #ffffff;
$text-header-link: #ffc035;

/* $text-header-1: #ffffff;
$text-header-2: #dc7000;

$text-section-1: #e87d0e;
$text-section-2: #000000;
$text-section-3: #ffffff;
$text-section-4: #222222;
$text-section-5: #525252;

$bg-footer: #000000;

$text-footer-1: #ffffff;

$btn-primary: linear-gradient(92.48deg, #fa8305 2.08%, #fb9e3c 117.25%);

// Fontes
$font-1: "Poppins", sans-serif;

// Espaçamento
$top: 25px;
$bottom: 25px;
$gap: 25px;

$top-section: 290px;
$top-section-two: 83px;
$top-footer: 100px;
$right-footer: 40px; */
