// Colors
$bg-footer: #363636;
$color-footer-link: #c92164;
$color-codes-copy: #d5d5d5;
$bg-section: #ececec;

//Fonts

$logo-font:'Racing Sans One', cursive;
$text-font:'Poppins', sans-serif;
$font-color: #595959;